<p id="notice"><%= notice %></p>

<h1>Notes</h1>
<div class="note-wrapper">
  <% current_user.notes.each do |note| %>
  <div class="card">
    <h1><%= note.title %></h1>
    <p><%= truncate(note.body, :length => 150, :separator => ' ') %></p>
    <div class="buttons">
      <%= link_to 'Show', note %>
      <%= link_to 'Edit', edit_note_path(note) %>
      <%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  </div>
  <% end %>
  <div class="card">
    <%= link_to 'New Note', new_note_path %>
  </div>
</div>
