<div class="formblock">
  <%= link_to 'Back', notes_path %>
    <%= link_to 'Edit', edit_note_path(@note) %>
  <br>
    <button data-stripe="payment">
  Donate <%= number_to_currency(5) %>
</button>
</div>

<div class="showcontainer"> 

  <h1><%= @note.title %></h1>
  <hr>
  <p>
    <h3><%= @note.body %></h3>
  </p>
  <p>
    <%= image_tag @note.picture if @note.picture.attached? %>
  </p>

</div>

<%# need the below code to show the donate button and then link it up with javascsript %>


<script src="https://js.stripe.com/v3/"></script>

<script>
  document
    .querySelector("[data-stripe='payment']")
    .addEventListener("click", () => {
      const stripe = Stripe(
        "<%= Rails.application.credentials.dig(:stripe, :public_key) %>"
      );

      stripe.redirectToCheckout({
        sessionId: "<%= @session_id %>"
      });
    });
</script>