<!DOCTYPE html>
<html>
  <head>
    <title>NotesOnRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>  
    <nav>
      <div class="button-container">
        <% if user_signed_in? %>
        <%= link_to "logout", destroy_user_session_path, method: :delete %>
        <% end %> 
      </div>
    </nav>
    <div class="devise-alerts">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
